.header {
    border:solid red;
}

.hero {
  border:solid black;

}
.schedule {
  border:solid orange;

}
.accommodation {
  border:solid pink;

}
.artist {
  border:solid green;

}
.price {
  border:solid red;

}
.registrar {
  border:solid black;

}